body {
    background-color: #efeff0;
}

nav {
    background-color: #6b5e62;
    color: white;
    font-family: 'Staatliches', regular;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    

}

body {
    margin: 0;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #efeff0;
}
.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-auto-flow: column;
    column-gap: 20px;
    margin-right: 50px;
}

.recipe {
    justify-content: center;
    width: 400px;
    margin-left: 50px;
    border: 1px solid;
    border-color: #6b5e62;
    margin-top: 20px;

}

.recipe-a {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    
}

.recipe-b {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    
}

.recipe-c {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    
}

h1, h2, h3 {
    font-family: 'Staatliches', regular;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #d5cad6;
    padding: 10px;
    color: #ffffff;
    margin: 0;
}

p, ol, ul {
    font-family: 'Dosis', sans-serif;
    color: #6b5e62;
    background-color: #efeff0;
    margin: 0;
    padding: 20px;

}

ol, ul {
    padding-left: 30px;
}

